<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-organism-heading">Créer ou éditer un organisme</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Nom</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"  required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <input type="text" class="form-control" name="type" id="field_type"
                           formControlName="type"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_address">Adresse</label>
                    <input type="text" class="form-control" name="address" id="field_address"
                           formControlName="address"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contactName">Nom du Contact</label>
                    <input type="text" class="form-control" name="contactName" id="field_contactName"
                           formControlName="contactName"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contactEmail">Email du Contact</label>
                    <input type="text" class="form-control" name="contactEmail" id="field_contactEmail"
                           formControlName="contactEmail"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_contactPhone">Téléphone du Contact</label>
                    <input type="text" class="form-control" name="contactPhone" id="field_contactPhone"
                           formControlName="contactPhone"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_convention">Conventionné ?</label>
                    <input type="checkbox" class="form-control" name="convention" id="field_convention"
                           formControlName="convention"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Enregistrer</span>
                </button>
            </div>
        </form>
    </div>
</div>
