<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="organism">
            <h2><span>Organisme</span> {{organism.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{organism.name}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{organism.type}}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{organism.address}}</span>
                </dd>
                <dt><span>Nom du contact</span></dt>
                <dd>
                    <span>{{organism.contactName}}</span>
                </dd>
                <dt><span>Email du contact</span></dt>
                <dd>
                    <span>{{organism.contactEmail}}</span>
                </dd>
                <dt><span>Téléphone du contact</span></dt>
                <dd>
                    <span>{{organism.contactPhone}}</span>
                </dd>
                <dt><span>Conventionné</span></dt>
                <dd>
                    <span>{{translate(organism.convention)}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/organism', organism.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Modifier</span>
            </button>
        </div>
    </div>
</div>
