<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2  *ngIf="settingsForm.get('login').value">Paramètre de l'utilisateur : [<b>{{settingsForm.get('login').value}}</b>]</h2>

            <div class="alert alert-success" *ngIf="success">
                <strong>Paramètres sauvergardés !</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" [formGroup]="settingsForm" *ngIf="settingsForm.get('login').value" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">Prénom</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Votre prénom"
                           formControlName="firstName">
                    <div *ngIf="settingsForm.get('firstName').invalid && (settingsForm.get('firstName').dirty || settingsForm.get('firstName').touched)">
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.required">
                            Votre prénom est obligatoire.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.minlength">
                           Votre prénom doit faire plus qu'1 caractère.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.maxlength">
                           Votre prénom ne doit pas dépasser 50 caractères.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Nom de famille</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Votre nom de famille"
                           formControlName="lastName">
                    <div *ngIf="settingsForm.get('lastName').invalid && (settingsForm.get('lastName').dirty || settingsForm.get('lastName').touched)">
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.required">
                            Votre nom de famille est obligatoire.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.minlength">
                           Votre nom de famille doit faire plus qu'1 caractère.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('firstName').errors.maxlength">
                           Votre nom de famille ne doit pas dépasser 50 caractères.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Votre email"
                           formControlName="email">
                    <div *ngIf="settingsForm.get('email').invalid && (settingsForm.get('email').dirty || settingsForm.get('email').touched)">
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('email').errors.required">
                            Votre email est obligatoire.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('email').errors.email">
                            Votre email est invalide.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('email').errors.minlength">
                           Votre email doit faire plus qu'1 caractère.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="settingsForm.get('email').errors.maxlength">
                           Votre email ne doit pas dépasser 100 caractères.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="settingsForm.invalid" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>

</div>
