<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-skill-heading">Créer ou éditer une compétence</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_libelle">Nom</label>
                    <input type="text" class="form-control" name="libelle" id="field_libelle"
                           formControlName="libelle" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hourlyRate">Taux horaire</label>
                    <input type="number" class="form-control" name="hourlyRate" id="field_hourlyRate"
                           formControlName="hourlyRate" required/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Enregistrer</span>
                </button>
            </div>
        </form>
    </div>
</div>
