<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="skill">
            <h2><span>Compétence </span> {{skill.libelle}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom</span></dt>
                <dd>
                    <span>{{skill.libelle}}</span>
                </dd>
                <dt><span>Taux horaire</span></dt>
                <dd>
                    <span>{{skill.hourlyRate}} €/h</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/skill', skill.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Modifier</span>
            </button>
        </div>
    </div>
</div>
