<form name="deleteForm" (ngSubmit)="confirmDelete(skill.id)">
    <div class="modal-header">
        <h4 class="modal-title">Confirmer la suppression</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <p id="jhi-delete-skill-heading">Etes-vous sûr de vouloir supprimer cette compétence ?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
        </button>
        <button id="jhi-confirm-delete-skill" type="submit" class="btn btn-danger">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Supprimer</span>
        </button>
    </div>
</form>
