<div>
    <h2 id="page-heading">
        <span>Bénéficiaire</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-beneficiary" [routerLink]="['/beneficiary/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Créer un nouveau bénéficiaire
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Recherche">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="beneficiaries?.length === 0">
        <span>Aucun bénéficiaire trouvé</span>
    </div>
    <div class="table-responsive" *ngIf="beneficiaries?.length > 0">
        <table class="table table-striped table-hover">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="lastName"><span>Nom de famille</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="firstName"><span>Prénom</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span>Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phoneNumber"><span>Téléphone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="gender"><span>Genre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="birthDate"><span>Date de naissance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="Address"><span>Adresse</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="CP"><span>CP</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="City"><span>Ville</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="hasCV"><span>CV ?</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="financialResources"><span>Ressources financières</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="levelOfStudy"><span>Niveau d'étude</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let beneficiary of beneficiaries ;trackBy: trackId">
                <td>{{beneficiary.lastName}}</td>
                <td>{{beneficiary.firstName}}</td>
                <td>{{beneficiary.email}}</td>
                <td>{{beneficiary.phoneNumber}}</td>
                <td>{{beneficiary.gender}}</td>
                <td>{{beneficiary.birthDate | date:'mediumDate'}}</td>
                <td>{{beneficiary.Address}}</td>
                <td>{{beneficiary.CP}}</td>
                <td>{{beneficiary.City}}</td>
                <td>{{beneficiary.hasCV}}</td>
                <td>{{beneficiary.financialResources}}</td>
                <td>{{beneficiary.levelOfStudy}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/beneficiary', beneficiary.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Voir</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/beneficiary', beneficiary.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Modif.</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/beneficiary', { outlets: { popup: beneficiary.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Suppr.</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="beneficiaries?.length === 0">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
