<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="beneficiary">
            <h2><span>Bénéficiaire</span> {{beneficiary.lastName}} {{beneficiary.firstName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Nom de famille</span></dt>
                <dd>
                    <span>{{beneficiary.lastName}}</span>
                </dd>
                <dt><span>Prénom</span></dt>
                <dd>
                    <span>{{beneficiary.firstName}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{beneficiary.email}}</span>
                </dd>
                <dt><span>Téléphone</span></dt>
                <dd>
                    <span>{{beneficiary.phoneNumber}}</span>
                </dd>
                <dt><span>Genre</span></dt>
                <dd>
                    <span>{{beneficiary.gender}}</span>
                </dd>
                <dt><span>Date de naissance</span></dt>
                <dd>
                    <span>{{beneficiary.birthDate}}</span>
                </dd>
                <dt><span>Adresse</span></dt>
                <dd>
                    <span>{{beneficiary.Address}}</span>
                </dd>
                <dt><span>Code Postal</span></dt>
                <dd>
                    <span>{{beneficiary.CP}}</span>
                </dd>
                <dt><span>Ville</span></dt>
                <dd>
                    <span>{{beneficiary.City}}</span>
                </dd>
                <dt><span>CV ?</span></dt>
                <dd>
                    <span>{{beneficiary.hasCV}}</span>
                </dd>
                <dt><span>Ressources financières</span></dt>
                <dd>
                    <span>{{beneficiary.financialResources}}</span>
                </dd>
                <dt><span>Niveau d'études</span></dt>
                <dd>
                    <span>{{beneficiary.levelOfStudy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/beneficiary', beneficiary.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Modifier</span>
            </button>
        </div>
    </div>
</div>
