<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-beneficiary-heading">Créer ou modifier un bénéficiaire</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Nom de famille</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">Prénom</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName" required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_phoneNumber">Téléphone</label>
                    <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                           formControlName="phoneNumber"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_gender">Genre</label>
                    <input type="text" class="form-control" name="gender" id="field_gender"
                           formControlName="gender"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_birthDate">Date de naissance</label>
                    <div class="input-group">
                        <input id="field_birthDate" type="text" class="form-control" name="birthDate" ngbDatepicker  #birthDateDp="ngbDatepicker" formControlName="birthDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="birthDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_Address">Adresse</label>
                    <input type="text" class="form-control" name="Address" id="field_Address"
                           formControlName="Address"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_CP">Code Postal</label>
                    <input type="number" class="form-control" name="CP" id="field_CP"
                           formControlName="CP"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_City">Ville</label>
                    <input type="text" class="form-control" name="City" id="field_City"
                           formControlName="City"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hasCV">CV ?</label>
                    <input type="checkbox" class="form-control" name="hasCV" id="field_hasCV"
                           formControlName="hasCV"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_financialResources">Ressources financières</label>
                    <input type="text" class="form-control" name="financialResources" id="field_financialResources"
                           formControlName="financialResources"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_levelOfStudy">Niveau d'étude</label>
                    <input type="text" class="form-control" name="levelOfStudy" id="field_levelOfStudy"
                           formControlName="levelOfStudy"/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Enregistrer</span>
                </button>
            </div>
        </form>
    </div>
</div>
