<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="user">
            <h2>
                <span>Utilisateur </span> [<b>{{user.login}}</b>]
            </h2>
            <dl class="row-md jh-entity-details">
                <dt><span>Identifiant</span></dt>
                <dd>
                    <span>{{user.login}}</span>
                    <jhi-boolean
                        [value]="user.activated"
                        textTrue="Activé"
                        textFalse="Désactivé">
                    </jhi-boolean>
                </dd>
                <dt><span>Nom de famille</span></dt>
                <dd>{{user.firstName}}</dd>
                <dt><span>Prénom</span></dt>
                <dd>{{user.lastName}}</dd>
                <dt><span>Email</span></dt>
                <dd>{{user.email}}</dd>
                <dt><span>Créé par</span></dt>
                <dd>{{user.createdBy}}</dd>
                <dt><span>Date de création</span></dt>
                <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
                <dt><span>Dernière modification par :</span></dt>
                <dd>{{user.lastModifiedBy}}</dd>
                <dt><span>Dernière date de modification</span></dt>
                <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
                <dt><span>Profile</span></dt>
                <dd>
                    <ul class="list-unstyled">
                        <li *ngFor="let authority of user.authorities">
                            <span class="badge badge-info">{{authority}}</span>
                        </li>
                    </ul>
                </dd>
            </dl>
            <button type="submit"
                    routerLink="../../"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>
        </div>
    </div>
</div>
