<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-volunteer-heading">Créer ou modifier un Bénévole</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_firstName">Prénom</label>
                    <input type="text" class="form-control" name="firstName" id="field_firstName"
                           formControlName="firstName"  required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastName">Nom de famille</label>
                    <input type="text" class="form-control" name="lastName" id="field_lastName"
                           formControlName="lastName"  required/>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Enregistrer</span>
                </button>
            </div>
        </form>
    </div>
</div>
