<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="volunteer">
            <h2><span>Bénévole </span> {{volunteer.firstName}} {{volunteer.lastName}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Prénom</span></dt>
                <dd>
                    <span>{{volunteer.firstName}}</span>
                </dd>
                <dt><span>Nom de famille</span></dt>
                <dd>
                    <span>{{volunteer.lastName}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/volunteer', volunteer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Modifier</span>
            </button>
        </div>
    </div>
</div>
