<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="workshop">
            <h2><span>Atelier</span> du {{workshop.date}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{workshop.date}}</span>
                </dd>
                <dt><span>Période</span></dt>
                <dd>
                    <span>{{workshop.periode}}</span>
                </dd>
                <dt><span>Bénéficiaire</span></dt>
                <dd>
                    <div *ngIf="workshop.beneficiaryId">
                        <a [routerLink]="['/beneficiary', workshop.beneficiaryId, 'view']">{{beneficiary.lastName}} {{beneficiary.firstName}}</a>
                    </div>
                </dd>
                <dt><span>Mandaté par</span></dt>
                <dd>
                    <div *ngIf="workshop.organismId">
                        <a [routerLink]="['/organism', workshop.organismId, 'view']">{{organism.name}}</a>
                    </div>
                </dd>
                <dt><span>Bénévole</span></dt>
                <dd>
                    <div *ngIf="workshop.volunteerId">
                        <a [routerLink]="['/volunteer', workshop.volunteerId, 'view']">{{volunteer.lastName}} {{volunteer.firstName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/workshop', workshop.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Modifier</span>
            </button>
        </div>
    </div>
</div>
