<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-workshop-heading">Créer ou modifier un Atelier</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" formControlName="date" required/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_periode">Période</label>
                    <select class="form-control" id="field_periode" name="periode" formControlName="periode" required>
                        <option [ngValue]="periode" value="Matin">Matin</option>
                        <option [ngValue]="periode" value="Après-midi">Après-midi</option>
                    </select>
                </div>
                
                <div class="form-group" required>
                    <label class="form-control-label" for="field_beneficiary">Bénéficiaire</label>
                    <select class="form-control" id="field_beneficiary" name="beneficiary" formControlName="beneficiaryId" required>
                        <option [ngValue]="beneficiaryOption.id" *ngFor="let beneficiaryOption of beneficiaries; trackBy: trackBeneficiaryById">{{beneficiaryOption.lastName}} {{beneficiaryOption.firstName}}</option>
                    </select>
                </div>


                <div class="form-group">
                    <label class="form-control-label" for="field_organism">Organisme</label>
                    <select class="form-control" id="field_organism" name="organism" formControlName="organismId" required>
                        <option [ngValue]="organismOption.id" *ngFor="let organismOption of organisms; trackBy: trackOrganismById">{{organismOption.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_volunteer">Bénévole</label>
                    <select class="form-control" id="field_volunteer" name="volunteer" formControlName="volunteerId" required>
                        <option [ngValue]="volunteerOption.id" *ngFor="let volunteerOption of volunteers; trackBy: trackVolunteerById">{{volunteerOption.lastName}} {{volunteerOption.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Enregistrer</span>
                </button>
            </div>
        </form>
    </div>
</div>
