<div>
    <h2 id="page-heading">
        <span>Atelier</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-workshop" [routerLink]="['/workshop/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Créer un nouvel Atelier
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Recherche">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="workshops?.length === 0">
        <span>Aucun atelier trouvé</span>
    </div>
    <div class="table-responsive" *ngIf="workshops?.length > 0">
        <table class="table table-striped table-hover">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="date"><span>Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="periode"><span>Période</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="beneficiaryId"><span>Bénéficiaire</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="organismId"><span>Organisme</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="volunteerId"><span>Bénévole</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workshop of workshops ;trackBy: trackId">
                <td>{{workshop.date | date:'mediumDate'}}</td>
                <td>{{workshop.periode}}</td>
                <td>
                    <div *ngIf="workshop.beneficiaryId">{{getBeneficiaryNames(workshop.beneficiaryId)}}</div>
                </td>
                <td>
                    <div *ngIf="workshop.organismId">{{getOrganismLibelle(workshop.organismId)}}</div>
                </td>
                <td>
                    <div *ngIf="workshop.volunteerId">{{getVolunteerNames(workshop.volunteerId)}}</div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/workshop', workshop.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Voir</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/workshop', workshop.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Modif.</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/workshop', { outlets: { popup: workshop.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Suppr.</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="workshops?.length === 0">
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
