<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contribution-heading">Créer ou éditer une contribution</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="d-flex">
                        <input id="field_date" type="datetime-local" class="form-control" name="date" formControlName="date" placeholder="AAAA-MM-JJ HH:mm"  required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hours">Heures</label>
                    <input type="number" class="form-control" name="hours" id="field_hours"
                           formControlName="hours"  required/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_total">Total</label>
                    <input type="text" class="form-control" name="total" id="field_total"
                           formControlName="total"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_totalCharged">Total avec charges</label>
                    <input type="number" class="form-control" name="totalCharged" id="field_totalCharged"
                           formControlName="totalCharged"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_volunteer">Bénévole</label>
                    <select class="form-control" id="field_volunteer" name="volunteer" formControlName="volunteerId">
                        <option [ngValue]="volunteerOption.id" *ngFor="let volunteerOption of volunteers; trackBy: trackVolunteerById">{{volunteerOption.lastName}} {{volunteerOption.firstName}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Annuler</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Sauvegarder</span>
                </button>
            </div>
        </form>
    </div>
</div>
