<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contribution">
            <h2><span>Contribution</span> {{contribution.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date</span></dt>
                <dd>
                    <span>{{contribution.date}}</span>
                </dd>
                <dt><span>Heures</span></dt>
                <dd>
                    <span>{{contribution.hours}}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{contribution.total}}</span>
                </dd>
                <dt><span>Total avec charges</span></dt>
                <dd>
                    <span>{{contribution.totalCharged}}</span>
                </dd>
                <dt><span>Voluntaire</span></dt>
                <dd>
                    <div *ngIf="contribution.volunteerId" >
                        <span [routerLink]="['/volunteer', contribution.volunteerId, 'view']"> {{volunteer.firstName}} {{volunteer.lastName}} </span>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Retour</span>
            </button>

            <button type="button"
                    [routerLink]="['/contribution', contribution.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Modifier</span>
            </button>
        </div>
    </div>
</div>
