<div class="row">
    <div class="col-md-3">
        <img src="../../../resources/Images/lcs-lemans.png" alt="lcs icone" >
    </div>
    <div class="col-md-9">
        <h1 class="display-4">La Cravate Solidaire</h1>
        <p class="lead">Espace de gestion</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > Vous êtes connecté en tant que "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>Pour vous connecter, c'est </span> <a class="alert-link" (click)="login()">ici</a>
            </div>
            <!-- <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div> -->
        </div>

        <p>
            Pour tout report de bug / problèmes, merci d'envoyer un mail à l'adresse support@lcsgestion.fr en détaillant exactement ce qu'il s'est passé, Merci.
        </p>
    </div>
</div>
