<div class="modal-header">
    <h4 class="modal-title">Connexion</h4>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>
    </button>
</div>
<div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="alert alert-danger" *ngIf="authenticationError">
                <strong>Erreur de connexion !</strong> Vérifiez vos identifiants.
            </div>
        </div>
        <div class="col-md-8">
            <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
                <div class="form-group">
                    <label class="username-label" for="username">Identifiant</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Identifiant"
                           formControlName="username">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Mot de passe"
                           formControlName="password">
                </div>
                <div class="form-check">
                    <label class="form-check-label" for="rememberMe">
                        <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" formControlName="rememberMe">
                        <span>Se souvenir de moi</span>
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="requestResetPassword()">Mot de passe oublié ?</a>
            </div>
            <!-- <div class="alert alert-warning">
                <span>Pas encore de compte ?</span>
                <a class="alert-link" (click)="register()">S'enregistrer</a>
            </div> -->
        </div>
    </div>
</div>
